{{!-- <style>
table, th, td {
    
  border: 1px solid black;
 
}
</style> --}}
<h1>Stock Quote Information</h1>
<h2><span id="name">{{{data.name}}}</span> - <span id="symbol">{{{data.symbol}}}</span></h2>
<h3>{{data.datetime}}</h3>
<table class="my-table" style="width:100%">
    {{!-- <thead class="thead-dark"> --}}
    <tr>
        <td class="thead-dark">Exchange</td>
        <td class="thead-dark">{{data.exchange}}</td>
    </tr>
     <tr>
        <td>Open Price</td>
        <td>${{open}}</td>
    </tr>
     <tr>
        <td>High Price</td>
        <td>${{high}}</td>
    </tr>
     <tr>
        <td>Low Price</td>
        <td>${{low}}</td>
    </tr>
     <tr>
        <td>Close Price</td>
        <td id="closePrice">${{close}}</td>
    </tr>
</table>

<button id="save-btn" type="button" class="btn">Add Stock to Portfolio</button>

<script src="./js/stock.js"></script>